~WRL0005.tmp
test.py
__pycache__/question_1_c.cpython-37.pyc
__pycache__/question_1_d.cpython-37.pyc
__pycache__/question_3_a.cpython-37.pyc
__pycache__/question_4_c.cpython-37.pyc
__pycache__/test.cpython-37.pyc
